/* Pon tu código css aqui */

body{
    margin: 0;
    padding: 0;
}
    
    .uno {
    width: 200px;
    height: 200px;
        position: static;
            background: #ee3e64;}
.dos{
    width: 200px;
    height: 200px;
    position: relative;
    background: #44accf;
    
}
.tres{
    width: 200px;
    height: 200px;
    position: static;
    background: #b7d84b;
    
}